.deleteContainer {
    text-align: right;
    height: 1px;
}

.deleteButton {
    background-color: #ab251b;
    border-color: #ab251b;
    height: 25px;
    margin-left: 375px;
}

.topline {
    display: inline-flex;
}